.DS_Store
cmd/subfaster/subfaster
# subfaster binary when built with `go build`
v2/cmd/subfaster/subfaster
# subfaster binary when built with `make`
v2/subfaster
vendor/
.idea
.devcontainer
.vscode
dist
/subfaster